# Default context
default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    wp_users:
                      editor-qa:
                        "password"
