.archive, .search {

  article {
    clear: both;
    margin-bottom: $space-medium*2;
    
    img {
      max-width: 30%;
      float: left;
      margin-top: 8px;
      margin-right: 5%;
      margin-bottom: $space-small/2;

      @media #{$medium-up} {
        width: 20%;
        margin-right: 3%;
        margin-bottom: $space-medium*2;
      }

    }

    .button {
      margin-bottom: 0;
    }

  }

}