.comments {
  clear: both;

  ol.media-list,
  ul.children {
    list-style: none;
  }

  ol.media-list {
    margin-left: 0;
    li.comment {
      clear:both;
      margin-bottom: $space-medium*2;
      ul {
        // list of replies
        margin-top: $space-small*2;
        margin-left: $space-small*2;
        list-style: none;
        li {
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  ul.children {
    margin-left: $space-medium*2;
  }

  .comment-author {
    float: left;
    .says {
      display: none;
      visibility: hidden;
    }
  }

  .comment-meta {
    float: right;
    margin-bottom: $space-small;
    a {
      @include font-size(14);
    }
    a.comment-edit-link {
      padding-left: $space-small/2;
    }
  }

  .alert-box {
    clear: both;
    margin-bottom: $space-small;
  }

  .comment-text {
    clear: both;
    border-top: 3px solid $gainsboro;
    background: $silver;
    padding: $space-small*2;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .comment-reply-link {
    @include button();
    margin-top: $space-small;
    margin-bottom: 0;
    padding: $space-small $space-medium;
  }

}

.comment-form {
  clear: both;
  margin-bottom: $space-medium*2;

  p.cancel-comment-reply,
  form {
    margin-bottom: 0;
  }

  p.cancel-comment-reply {
    padding-bottom: $space-small;
  }

}
