.entry-meta {
  width: 100%;
  display: inline-block;
  color: $jumbo;
  @include font-size(14);

  time {
    float: left;
    display: inline-block;
  }

  &.date {
    width: auto;
    float: right;

    time {
      float: none;
      display: block;
      padding-top: $space-small*2;
    }
  }

  .post-categories {
    @include inline-list;
    float: left;
    display: inline-block;
    margin: 0 0 0 $space-small;

    > li {
      margin-left: 0;
    }

    a {
      @include font-size(14);
    }
  }
}