.entry-meta {
  width: 100%;
  display: inline-block;
  margin-bottom: $space-small;
  color: $base;
  @include font-size(14);

  time {
    float: left;
    display: inline-block;
    margin-right: $space-small/2;
    color: $jumbo;
    &:after {
      content: "|";
      padding-left: $space-small/2;
      color: $base;
    }
  }

  &.date {
    width: auto;
    float: right;

    time {
      float: none;
      display: block;
      padding-top: $space-small;
    }
  }

  .post-categories {
    float: left;
    display: inline-block;

    > li {
      margin-left: 0;
    }

    a {
      @include font-size(14);
    }
  }
}