.entry-meta {
  width: 100%;
  display: inline-block;
  margin-bottom: $space-small;
  color: darken($lightest, 32%);
  @include font-size(14);

  time {
    float: left;
    display: inline-block;
    margin-right: $space-small/2;
    color: darken($lightest, 47%);
    
    &:after {
      content: "|";
      padding-left: $space-small/2;
      color: darken($lightest, 32%);
    }
  }

  &.date {
    width: auto;
    float: right;

    time {
      float: none;
      display: block;
      margin-right: 0;
      padding-top: $space-small;

      &:after {
        display: none;
      }
    }
  }

  .post-categories {
    float: left;
    display: inline-block;

    > li {
      margin-left: 0;
    }

    a {
      @include font-size(14);
    }
  }
}