footer.site-footer {
  nav {
    ul {
      @include inline-list;
      margin-bottom: 0;
    }

    a {
      @include font-size(14);
      color: $white;
      &:hover, &:focus {
        border-bottom: 1px solid $white;
      }
    }
  }
}