header.site-header {

  nav {
    width: 100%;
    display: inline-block;

    @media #{$medium-only} {
      float: right;
    }

    div {

      @media #{$medium-up} {
        float: right;
      }

    }

    ul {
      @include inline-list;
      margin: 0;

      @media #{$small-only} {
        margin-bottom: $space-small;
      }

      > li {
        margin-left: 0;
      }

      a {
        background: $primary-color;
        padding: $space-small;
        color: $white;
        @include font-size(18);
        @include single-transition(border-top, 300ms, ease-in);
        &:hover, &:focus {
          background: scale-color($primary-color, $lightness: -14%);
          color: $white;
        }

        @media #{$medium-only} {
          @include font-size(16);
        }

        @media #{$medium-up} {
          position: relative;
          background: transparent;
          padding: 38px $space-medium;
          color: $body-font-color;
          &:hover, &:focus {
            background: transparent;
            color: $primary-color;
          }
        }

      }

    }

    li.current-menu-item,
    li.current_page_item {
      a {
        background: $logo-color;
        color: $white;
        &:hover, &:focus {
          background: scale-color($logo-color, $lightness: -14%);
        }

        @media #{$medium-up} {
          background: transparent;
          color: $primary-color;
          &:before {
            @include arrow(10px, down, 0, 40%, $logo-color);
          }
          &:hover, &:focus {
            background: transparent;
            color: scale-color($primary-color, $lightness: -14%);
          }
        }

      }
    }

    .button-search {
      margin-top: 30px;
      margin-left: $space-medium;
      background: transparent;
      padding: 0;
      @include font-size(25);
      @include icon(before, search);
      color: $body-font-color;

      &:hover, &:focus {
        color: $primary-color;
      }

      &.opened {
        @include icon(before, close);
        color: $primary-color;
      }

      @media #{$medium-up} {
        float: right;
      }
      @media #{$large-up} {
        @include font-size(30);
      }

    }

    @media #{$small-only} {
      clear: both;
      overflow: hidden;
      max-height: 0;

      &.active {
        max-height: 15em;
        ul {
          float: none !important; // owerwritting Foundation inportant styles
        }
        li {
          display: block;
          float: none;
        }
      }
    }

  }

  .toggle-container {

    @media #{$medium-up} {
      display: none;
      visibility: hidden;
    }

    .nav-toggle {
      margin-top: $space-small/2;
      @include font-size(32);
      @include icon(before, menu);
      &:visited {
        color: $primary-color;
      }
    }

  }

}