header.site-header {

  nav {

    ul {

      @include inline-list;

    }

    li {
      @include font-size(18);
    }

    a {
      border-top: 5px solid transparent;
      padding: $space-small $space-small/2 0 $space-small/2;
      color: $body-font-color;
      @include single-transition(border-top, 300ms, ease-in);
      &:hover, &:focus {
        border-top: 5px solid $primary-color;
        color: $primary-color;
      }
    }

    li.current-menu-item,
    li.current_page_item {
      a {
        border-top-color: $logo-color;
        color: $logo-color;
        &:hover, &:focus {
          color: scale-color($logo-color, $lightness: -14%);
        }
      }
    }

    @media #{$small-only} {
      clear: both;
      overflow: hidden;
      max-height: 0;

      &.active {
        max-height: 15em;
        ul {
          float: none !important; // owerwritting Foundation inportant styles
        }
        li {
          display: block;
          float: none;
          border-bottom: 1px solid $gainsboro;
          &:first-child {
            border-top: 1px solid $gainsboro;
          }
        }
        a {
          border-top: none;
          border-left: 5px solid transparent;
          padding: $space-small/2 $space-small/2 $space-small/2 $space-small;
          &:hover, &:focus {
            border-left-color: $primary-color;
          }
        }
        li.current-menu-item,
        li.current_page_item {
          a {
            border-left-color: $logo-color;
          }
        }
      }
    }

  }

  .nav-toggle {
    @include font-size(24);
    @include icon(before, menu);
  }

}