.site-header {

  .top-bar {
    height: auto;
  }

  @media screen and (max-width: 880px) {
    .top-bar-nav {
      width: 100%;
      float: left!important;
    }

  }

  .headermenu {
    width: 100%;
    display: inline-block;
    background: $white;
// @media #{$medium-only} {
//   float: right;
// }
div {
  @media #{$medium-up} {
    float: right;
  }

  @media screen and (max-width: 880px) {
    float: none;
  }

}


ul {
  @include inline-list;
  overflow: visible;
  margin: 0;

  @media #{$small-only} {
    margin-bottom: $space-small;
  }

  > li {
    margin-left: 0;
    background: $white;

    .js-generated {
      display: none;
    }
  }

  a {
    background: $primary-color;
    padding: $space-small;
    color: $white;
    @include font-size(18);
    @include single-transition(border-top, 300ms, ease-in);
    &:hover, &:focus {
      background: scale-color($primary-color, $lightness: -14%);
      color: $white;
    }

    @media #{$medium-only} {
      @include font-size(16);
    }

    @media #{$medium-up} {
      position: relative;
      background: transparent;
      padding: 38px $space-medium;
      color: $body-font-color;
      &:hover, &:focus {
        background: transparent;
        color: $primary-color;
      }
    }

  }

}

li.active,
li.active {
  > a {
    background: $logo-color;
    color: $white;
    &:hover, &:focus {
      background: scale-color($logo-color, $lightness: -14%);
    }

    @media #{$medium-up} {
      background: transparent;
      color: $primary-color;
      &:before {
        @include arrow(10px, down, 0, 40%, $logo-color);
      }
      &:hover, &:focus {
        background: transparent;
        color: scale-color($primary-color, $lightness: -14%);
      }
    }
    @media screen and (max-width: 880px) {
      &:before {
        border-top:none;
      }
    }


  }
}

.button-search {
  margin-top: 30px;
  margin-left: $space-medium;
  background: transparent;
  padding: 0;
  color: $body-font-color;
  @include font-size(25);
  @include icon(before, search);


  &:hover, &:focus {
    color: $primary-color;
  }

  &.opened {
    @include icon(before, close);
    color: $primary-color;
  }

  @media #{$medium-up} {
    float: right;
  }
  @media #{$large-up} {
    @include font-size(30);
  }

}

@media #{$small-only} {
  clear: both;
  overflow: hidden;
  max-height: 0;

  &.active {
    max-height: 15em;
    ul {
float: none !important; // owerwritting Foundation inportant styles
}
li {
  display: block;
  float: none;
}
}
}

}

.toggle-container {

  @media #{$medium-up} {
    display: none;
    visibility: hidden;
  }

  .nav-toggle {
    margin-top: $space-small/2;
    @include font-size(32);
    @include icon(before, menu);
    &:visited {
      color: $primary-color;
    }
  }

}



.dropdown {
  background: $primary-color;
  top:80px;

  &:before {
    @include arrow(10px, up, -10px, 25%, $primary-color);
  }

  li {
    position: relative;
    width: 100%;
    margin: 0;
    background: $primary-color;

    a {
      display: block;
      background: $primary-color;
      color: $white;
      white-space: nowrap;
      padding: 10px 40px 10px 10px;
      @include single-transition(all, 300ms, ease-in);

      &:hover {
        background: scale-color($primary-color, $lightness: -14%);
        color: $white;
      }

    }

  }

}

}
