.pager {
  @include clearfix;
  margin: $space-small*4 0;
  border-top: 1px solid $gainsboro;
  padding-top: $space-small*4;
  text-align: center;

  .pagination {
    display: inline-block;
    margin: 0 auto;
  }

  .btn-pagination {
    margin-top: 13px; //to align the buttons to the middle of .pager container
  }

  ul {
    @include inline-list;
    margin: 0;
    
    > li {
      margin-left: $space-small;
      &:first-child {
        margin-left: 0;
      }
    }

  }

  li {

    a {
      border: 1px solid $smoke;
      @include radius($global-radius);
      background: $white;
      padding: $space-small $space-medium;
    }

    &.active {
      a {
        background: $smoke;
        border-color: $gainsboro;
        color: $steel;
        cursor: default;
      }
    }

  }

}