header.page-header {
  margin-bottom: $space-medium*2;
}

.page-element {
  border-bottom: 1px solid $gainsboro;
  padding-top: $space-medium*2;
  padding-bottom: $space-medium*2;

  &:last-of-type {
    border-bottom: 0;
  }

  article.summary {
    @include clearfix;
    margin-bottom: $space-medium;

    &:last-of-type {
      margin-bottom: $space-medium*2;
    }

    a img {
      float: left;
      margin-top: 8px;
      margin-right: 3%;
    }

    p {
      margin-bottom: 0;
    }

  }

  figure {
    margin: 0;

    img {
      border: 10px solid $white;
    }

  }

}

.page-intro {
  padding-bottom: $space-medium;
}
