// most of these elements are also used for posts

header.page-header {
  width: 100%;
  display: inline-block;
  margin-top: $space-medium*2;

  h1 {

    @media #{$large-up} {
      width: 80%;
      float: left;
    }

  }

  hgroup {
    h1 {

      @media #{$large-up} {
        width: 100%;
        float: none;
      }

    }
  }

  ul.entry-meta {

    @media #{$large-up} {
      width: 20%;
      float: right;
      margin-top: 17px;
      li {
        float: right;
      }
    }

  }
}

.page-element {
  border-bottom: 1px solid $gainsboro;
  padding-top: $space-medium*2;
  padding-bottom: $space-medium*2;

  &:last-of-type {
    border-bottom: 0;
  }

  article.summary {
    @include clearfix;
    margin-bottom: $space-medium;

    &:last-of-type {
      margin-bottom: $space-medium*2;
    }

    a img {
      float: left;
      margin-top: 8px;
      margin-right: 3%;
    }

    p {
      margin-bottom: 0;
    }

  }

  figure {
    margin: 0;

    img {
      border: 10px solid $white;
    }

  }

  .main-content {
    border-top: 5px solid $banner-color;
    padding-top: $space-medium;
  }

}
