ul.social-media {

  @include inline-list;
  float: right;
  margin-left: $space-small;

  > li {
    margin-left: 1px;
  }

  a {

    padding: $space-small;
    color: $white;
    line-height: 1;

    &:before {
      @include font-size(24);
    }

    // Twitter
    &[href^="http://twitter.com/"],
    &[href^="http://www.twitter.com/"],
    &[href^="https://twitter.com/"],
    &[href^="https://www.twitter.com/"] {
      background: $twitter-color;
      @include icon(before, twitter);
      &:hover, &:focus {
        background: scale-color($twitter-color, $lightness: -14%);
      }
    }
    
    // Facebook
    &[href^="http://facebook.com/"],
    &[href^="http://www.facebook.com/"],
    &[href^="https://facebook.com/"],
    &[href^="https://www.facebook.com/"] {
      background: $facebook-color;
      @include icon(before, facebook);
      &:hover, &:focus {
        background: scale-color($facebook-color, $lightness: -14%);
      }
    }

    // Google +
    &[href^="http://plus.google.com/"],
    &[href^="https://plus.google.com/"] {
      background: $googleplus-color;
      @include icon(before, googleplus);
      &:hover, &:focus {
        background: scale-color($googleplus-color, $lightness: -14%);
      }
    }

    // Flickr
    &[href^="http://flickr.com/"],
    &[href^="http://www.flickr.com/"],
    &[href^="https://flickr.com/"],
    &[href^="https://www.flickr.com/"] {
      background: $flickr-color;
      @include icon(before, flickr);
      &:hover, &:focus {
        background: scale-color($flickr-color, $lightness: -14%);
      }
    }

    // LinkedIn
    &[href^="http://linkedin.com/"],
    &[href^="http://www.linkedin.com/"],
    &[href^="https://linkedin.com/"],
    &[href^="https://www.linkedin.com/"] {
      background: $linkedin-color;
      @include icon(before, linkedin);
      &:hover, &:focus {
        background: scale-color($linkedin-color, $lightness: -14%);
      }
    }

    // YouTube
    &[href^="http://youtube.com/"],
    &[href^="http://www.youtube.com/"],
    &[href^="https://youtube.com/"],
    &[href^="https://www.youtube.com/"] {
      background: $youtube-color;
      @include icon(before, youtube);
      &:hover, &:focus {
        background: scale-color($youtube-color, $lightness: -14%);
      }
    }

  }

}