ul.social-media {
  @include inline-list;
  float: right;
  margin: 0;

  > li {
    float: left;
    margin-left: 1px;
    margin-bottom: 0;
  }

  a {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    color: $lightest;
    line-height: 1;

    &:before {
      position: absolute;
      top: 8px;
      left: 10px;
      @include font-size(22);
    }

    &:visited {
      color: $lightest;
    }

    // Twitter
    &[href^="http://twitter.com/"],
    &[href^="http://www.twitter.com/"],
    &[href^="https://twitter.com/"],
    &[href^="https://www.twitter.com/"] {
      @include link-background($twitter-color);
      @include icon(before, twitter);
    }
    
    // Facebook
    &[href^="http://facebook.com/"],
    &[href^="http://www.facebook.com/"],
    &[href^="https://facebook.com/"],
    &[href^="https://www.facebook.com/"] {
      @include link-background($facebook-color);
      @include icon(before, facebook);
    }

    // Google +
    &[href^="http://plus.google.com/"],
    &[href^="https://plus.google.com/"] {
      @include link-background($googleplus-color);
      @include icon(before, googleplus);
    }

    // Flickr
    &[href^="http://flickr.com/"],
    &[href^="http://www.flickr.com/"],
    &[href^="https://flickr.com/"],
    &[href^="https://www.flickr.com/"] {
      @include link-background($flickr-color);
      @include icon(before, flickr);
    }

    // LinkedIn
    &[href^="http://linkedin.com/"],
    &[href^="http://www.linkedin.com/"],
    &[href^="https://linkedin.com/"],
    &[href^="https://www.linkedin.com/"] {
      @include link-background($linkedin-color);
      @include icon(before, linkedin);
    }

    // YouTube
    &[href^="http://youtube.com/"],
    &[href^="http://www.youtube.com/"],
    &[href^="https://youtube.com/"],
    &[href^="https://www.youtube.com/"] {
      @include link-background($youtube-color);
      @include icon(before, youtube);
    }
  }
}