// I had to use a lot of !important here because Wordpress very usefully styles gallery using element ID and not CLASS...

.gallery {
  margin-bottom: 0 !important; //overwriting WP styles

  .gallery-item {
    width: 24% !important; //overwriting WP styles
    margin-top: 0 !important; //overwriting WP styles
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
    }
  }

  .gallery-icon {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    border: 3px solid $jet !important; //overwriting WP styles
  }

  .gallery-caption {
    margin-bottom: 0;
    background: $jet;
    padding: $space-small/2 $space-small/2 $space-small $space-small/2;
    @include font-size(14);
    color: $white;
  }
}
