// Theme colours
$white: #fff !default;
$black: #000 !default;

$lightest: $white !default;
$darkest: $black !default;
$primary-color: #2e69ac !default;   // blue
$secondary-color: #00a0b0 !default; // turquoise blue
$logo-color: #1b325f !default;      // dark blue

$mail-color: $logo-color !default;
