// Theme colors
$primary-color: #2e69ac;   // blue
$secondary-color: #00a0b0; // turquoise blue
$logo-color: #1b325f;      // dark blue
$visited-color: #551a8b;   // purple
$alert-color: #f04124;     // cinnabar
$success-color: #43AC6A;   // sea-green
$warning-color: #f08a24;   // carrot
$info-color: #a0d3e8;      // cornflower

$mail-color: $logo-color;