/* The Grid ---------------------- */

/* https://gist.githubusercontent.com/hatefulcrawdad/5068210/raw/80dec950e05d32da050d703321831c21dc3d1354/ie8-grid-foundation-4.css */

.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1,
.lt-ie9 .medium-1, 
.lt-ie9 .row .medium-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2,
.lt-ie9 .medium-2, 
.lt-ie9 .row .medium-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3,
.lt-ie9 .medium-3, 
.lt-ie9 .row .medium-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4,
.lt-ie9 .medium-4, 
.lt-ie9 .row .medium-4  { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5,
.lt-ie9 .medium-5, 
.lt-ie9 .row .medium-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6,
.lt-ie9 .medium-6, 
.lt-ie9 .row .medium-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7,
.lt-ie9 .medium-7, 
.lt-ie9 .row .medium-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8,
.lt-ie9 .medium-8, 
.lt-ie9 .row .medium-8  { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9,
.lt-ie9 .medium-9, 
.lt-ie9 .row .medium-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10,
.lt-ie9 .medium-10, 
.lt-ie9 .row .medium-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11,
.lt-ie9 .medium-11, 
.lt-ie9 .row .medium-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12,
.lt-ie9 .medium-12,
.lt-ie9 .row .medium-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

/* IE7 */

.lt-ie8 .row { display: block; clear: both; }

.lt-ie8 .large-3, 
.lt-ie8 .row .large-3,
.lt-ie8 .medium-3, 
.lt-ie8 .row .medium-3  { width: 20%; }

.lt-ie8 .large-4, 
.lt-ie8 .row .large-4,
.lt-ie8 .medium-4, 
.lt-ie8 .row .medium-4 { width: 28%; }

.lt-ie8 .large-6, 
.lt-ie8 .row .large-6,
.lt-ie8 .medium-6, 
.lt-ie8 .row .medium-6 { width: 45%; }

.lt-ie8 .large-8, 
.lt-ie8 .row .large-8,
.lt-ie8 .medium-8, 
.lt-ie8 .row .medium-8 { width: 62%; }

.lt-ie8 .large-9, 
.lt-ie8 .row .large-9,
.lt-ie8 .medium-9, 
.lt-ie8 .row .medium-9 { width: 73%; }


/* Other ---------------------- */

.lt-ie9 :before { display: none; }

.lt-ie9 p { margin-bottom: 20px; }

.lt-ie9 h1, h2, h3, h4, h5, h6 { margin-bottom: 10px; }

.lt-ie9 .panel { padding: 20px; }
.lt-ie9 aside.sidebar section.widget { padding: 20px; }

.lt-ie9 [class*="block-grid-"] > li { padding-bottom: 15px; }

.lt-ie9 .medium-block-grid-2 > li { width: 49%; }
.lt-ie9 .medium-block-grid-2 > li:first-child { margin-right: 2%; }

.lt-ie9 table tr th, .lt-ie9 table tr td { padding: 8px; }

.lt-ie9 ul, .lt-ie9 ol {
  margin-bottom: $space-small*2;
  margin-left: 30px;
  ul, ol {
    margin-left: 60px;
  }
}

.lt-ie9 dl {
  margin-bottom: $space-small*2;
  dt { margin-bottom: $space-small/2; }
  dd { margin-bottom: $space-small; }
}

.lt-ie9 footer.site-footer nav ul > li { margin-left: 20px; }
.lt-ie9 footer.site-footer nav ul > li:first-child { margin-left: 0; }

/* IE7 */

.lt-ie8 .ie-visible {
  display: block;
  visibility: visible;
}

.lt-ie8 .column, .lt-ie8 .columns { margin-left: 15px; padding: 0; }

.lt-ie8 .site-header h1 { margin-top: $space-medium*2; }

.lt-ie8 .site-header .medium-4 { margin-right: 50px; }

.lt-ie8 header.site-header nav { width: 100%; }
.lt-ie8 header.site-header nav ul a { padding: 15px; }
.lt-ie8 header.site-header form.searchform {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
  div {
    float: right;
  }
  input#s {
    width: 200px;
    height: 18px;
    border: 1px solid darken($lightest, 13%);
  }
  input#searchsubmit {
    width: 100px;
    text-align: center;
  }
}

.lt-ie8 .page-element .medium-8,
.lt-ie8 .archive main .medium-8 { margin-right: 50px; }

.lt-ie8 .page-element { display: inline-block; clear: both; }

.lt-ie8 ul.medium-block-grid-2,
.lt-ie8 ul.medium-block-grid-3 { display: inline-block; clear: both; padding-bottom: $space-medium; }

.lt-ie8 ul.medium-block-grid-2 li { width: 48%; margin-left: 2%; }
.lt-ie8 ul.medium-block-grid-2 li:first-child { margin-left: 0; }

.lt-ie8 ul.medium-block-grid-3 { display: block; clear: both; }
.lt-ie8 ul.medium-block-grid-3 li { width: 30%; margin-left: 2%; }
.lt-ie8 ul.medium-block-grid-3 li:first-child { margin-left: 0; }

.lt-ie8 blockquote { background: url('#{$imagePath}/ie/quote-left.png') no-repeat top left; }

.lt-ie8 .alert-box { padding: 10px 15px; font-size: 13px; }

.lt-ie8 .page-element,
.lt-ie8 .page-element article.summary { width: 100%; clear: both; }

.lt-ie8 article.summary,
.lt-ie8 article.post-summary {
  &.post-password-required,
  &.status-private {
    h2, h4 {
      position: static;
      display: inline-block;
      background: transparent;
      background-image: url('#{$imagePath}/ie/padlock.png');
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    h2 {
      background-position: 0 7px;
    }
  }
}

.lt-ie8 .panel.banner a { width: auto; }

.lt-ie8 form.searchform input[type="text"] { width: 60%; height: 20px; padding: 10px; }

.lt-ie8 aside.sidebar ul { margin-left: 0; list-style-image: url('#{$imagePath}/ie/list-bullet.png'); }

.lt-ie8 aside.sidebar .address-panel address { background: url('#{$imagePath}/ie/pin.png') no-repeat 0 0; }
.lt-ie8 aside.sidebar .address-panel .contact-link.phone { background: url('#{$imagePath}/ie/phone.png') no-repeat 0 0; }
.lt-ie8 aside.sidebar .address-panel .contact-link.email { background: url('#{$imagePath}/ie/envelope.png') no-repeat 0 0; }

.lt-ie8 aside.sidebar .panel a { width: 80%; }

.lt-ie8 input[type="text"],
.lt-ie8 input[type="password"],
.lt-ie8 input[type="date"],
.lt-ie8 input[type="datetime"],
.lt-ie8 input[type="datetime-local"],
.lt-ie8 input[type="month"],
.lt-ie8 input[type="week"],
.lt-ie8 input[type="email"],
.lt-ie8 input[type="number"],
.lt-ie8 input[type="search"],
.lt-ie8 input[type="tel"],
.lt-ie8 input[type="time"],
.lt-ie8 input[type="url"],
.lt-ie8 input[type="color"],
.lt-ie8 textarea { padding: 10px; }

.lt-ie9 .share a {
  padding: 0;
  &.facebook { background: $facebook-color url('#{$imagePath}/ie/social-icons-sprite.png') no-repeat 0 -35px; }
  &.twitter { background: $twitter-color url('#{$imagePath}/ie/social-icons-sprite.png') no-repeat 0 0; }
  &.mail { background: $logo-color url('#{$imagePath}/ie/social-icons-sprite.png') no-repeat 0 -210px; }
}

.lt-ie9 .share ul, .lt-ie9 ul.social-media { margin: 0; }

.lt-ie9 ul.social-media a {
  width: 35px;
  height: 35px;
  background-image: url('#{$imagePath}/ie/social-icons-sprite.png');
  background-repeat: no-repeat;
  &:hover, &:focus {
    background-image: url('#{$imagePath}/ie/social-icons-sprite.png');
  }
  // Twitter
  &[href^="http://twitter.com/"],
  &[href^="http://www.twitter.com/"],
  &[href^="https://twitter.com/"],
  &[href^="https://www.twitter.com/"] {
    background-position: 0 0;
  }
  // Facebook
  &[href^="http://facebook.com/"],
  &[href^="http://www.facebook.com/"],
  &[href^="https://facebook.com/"],
  &[href^="https://www.facebook.com/"] {
    background-position: 0 -35px;
  }
  // Google +
  &[href^="http://plus.google.com/"],
  &[href^="https://plus.google.com/"] {
    background-position: 0 -70px;
  }
  // LinkedIn
  &[href^="http://linkedin.com/"],
  &[href^="http://www.linkedin.com/"],
  &[href^="https://linkedin.com/"],
  &[href^="https://www.linkedin.com/"] {
    background-position: 0 -105px;
  }
  // Flickr
  &[href^="http://flickr.com/"],
  &[href^="http://www.flickr.com/"],
  &[href^="https://flickr.com/"],
  &[href^="https://www.flickr.com/"] {
    background-position: 0 -140px;
  }
  // YouTube
  &[href^="http://youtube.com/"],
  &[href^="http://www.youtube.com/"],
  &[href^="https://youtube.com/"],
  &[href^="https://www.youtube.com/"] {
    background-position: 0 -175px;
  }
}

.lt-ie8 ul.breadcrumbs {
  margin-left: 0; 
  li {
    margin-right: $space-small;
    background: url('#{$imagePath}/ie/breadcrumbs-divider.png') no-repeat 0 6px;
    padding-left: $space-medium;
    &:first-child {
      background: transparent;
      padding-left: 0;
    }
  }
}

.lt-ie8 .error-image {
  min-width: 200px;
  min-height: 200px;
  background: url('#{$imagePath}/ie/search-large.png') no-repeat 32px 30px;
}

.lt-ie8 footer nav ul { margin-left: 0; }

.lt-ie8 .show-for-medium-up { display: inline-block !important; visibility: visible; } // display elements hidden using Foundation visibility classes

.lt-ie9 .show-for-medium-up {
  width: 10px;
} 

// Hides topbar dropdown from shit browsers
.lt-ie8 .top-bar-section .dropdown {display: none;}

// Dropdown background fix for IE8
.lt-ie9 .top-bar-section .dropdown li {
  background: $primary-color;
  color: $lightest;
} 

.lt-ie9 .top-bar-section .dropdown li a {
  background: $primary-color;
  color: $lightest;
  padding: 10px 40px 10px 10px;
}

.lt-ie9 .top-bar-section .dropdown li a:hover {
  background: scale-color($primary-color, $lightness: -14%);
  color: $lightest;
}

.lt-ie9 header.site-header a.logo {
  width: 200px;
}

.lt-ie9 .site-header .headermenu .button-search:before,
.lt-ie9 ul.social-media a[href^="http://facebook.com/"]:before, 
.lt-ie9 ul.social-media a[href^="http://www.facebook.com/"]:before, 
.lt-ie9 ul.social-media a[href^="https://facebook.com/"]:before, 
.lt-ie9 ul.social-media a[href^="https://www.facebook.com/"]:before {
  display: none;
}

.ie8 .site-header .headermenu .button-search {
  background: transparent url('#{$imagePath}/ie/icon-search.png') no-repeat 0 0;
  height: 30px;
  width: 30px;
  margin-left: 0;
  display: block;
  position: absolute;
  right: 0;
}

// Events
.lt-ie8 #tribe-bar-views { left: auto; right: 20px; top: 20px; }
.lt-ie8 #tribe-bar-form .tribe-bar-filters { width: 80%; right: auto; left: -150px; }
.lt-ie8 .tribe-events-event-meta .tribe-events-meta-group,
.lt-ie8 .tribe-events-event-meta .column { width: 25%; }
