// Reset
@import "normalize";

// Foundation
@import "global"; // variables & mixins
@import "colours"; // colour variabes
@import "foundation";

// Custom fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Contrail+One);

@font-face {
  font-family: 'icomoon';
  src: url('#{$fontPath}/icomoon.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('#{$fontPath}/icomoon.eot');
  src:url('#{$fontPath}/icomoon.eot?#iefix') format('embedded-opentype'),
      url('#{$fontPath}/icomoon.woff') format('woff'),
      url('#{$fontPath}/icomoon.ttf') format('truetype'),
      url('#{$fontPath}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Common
@import "common/alert-boxes";
@import "common/block-grid";
@import "common/breadcrumbs";
@import "common/buttons";
@import "common/type";
@import "common/common";
@import "common/flex-video";
@import "common/footer";
@import "common/forms";
@import "common/header";
@import "common/sidebar";
@import "common/thumbs";
@import "common/wordpress";
@import "common/top-bar";

// Partials
@import "partials/banner";
@import "partials/comment";
@import "partials/entry-meta";
@import "partials/nav";
@import "partials/nav-footer";
@import "partials/page";
@import "partials/pager";
@import "partials/search";
@import "partials/social-media";
@import "partials/share";

// Templates
@import "templates/404";
@import "templates/archive";
@import "templates/contact";
@import "templates/search";
@import "templates/home";

@import "ie";
