.alert-box {
  background-color: $info-color;
  border-color: darken($info-color, 5%);
  color: $body-font-color;

  a {
    @include font-size(13);
    color: $body-font-color;
    border-bottom: 1px solid $body-font-color;
  }

  &.alert {
    background-color: $alert-color;
    border-color: darken($alert-color, 5%);
    color: $lightest;
    a {
      color: $lightest;
      border-bottom: 1px solid $lightest;
    }
  }

  &.success {
    background-color: $success-color;
    border-color: darken($success-color, 5%);
  }
}