ul.breadcrumbs {
  margin-bottom: $space-medium;
  border: none;
  background: 0;
  padding: 0;

  a {
    @include font-size(14);
  }

  > * {
    text-transform: none;
    &:before {
      margin: 0 $space-small/2;
      @include background-image('icon-arrow-right', 10px, 10px, lighten($darkest, 13));
    }
  }
}