.button-banner {
  @include button;
  border: 2px solid $white;
  background: $white;
  color: $secondary-color;
  @include font-size(20);
  &:hover, &:focus {
    background: darken($secondary-color, 10%);
  }
}

.button-search-form {
  @include button;
  border: 2px solid $white;
  background: $white;
  padding: $space-small;
  color: $logo-color;
  &:hover, &:focus {
    background: darken($logo-color, 10%);
  }
}

input {
  &.button {
    -webkit-font-smoothing: $font-smoothing;
    -moz-osx-font-smoothing: grayscale;
  }
}