label {
  margin-bottom: $space-small/2;
}

select {
  background-color: $lightest;
  border-color: darken($lightest, 13%);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  margin-bottom: $space-small*2;
  border-color: darken($lightest, 13%);
  box-shadow: none;
  
  &:focus {
    box-shadow: none;
    background: $lightest;
  }
}

.widget_search {
  .searchform {
    width: 100%;
    display: inline-block;
  }
}

.searchform {  
  label {
    margin-bottom: $space-small;
  }
  
  input[type="text"] {
    width: 70%;
    height: 40px;
    float: left;
    margin-bottom: 0;
    border: none;
    padding: 0.5rem;
    @include font-size(14);
  }
  
  input[type="submit"] {
    width: 30%;
    height: 40px;
    float: left;
    border: none;
    background: $primary-color;
    padding: 0.5rem;
    color: $lightest;
    @include font-size(16);
    -webkit-font-smoothing: $font-smoothing;
    -moz-osx-font-smoothing: grayscale;
    
    &:hover, &:focus {
      background: darken($primary-color, 10%);
    }
  }
}

//Contact Form 7
.wpcf7 {
  input[type="submit"] {
    @include button;
    padding: $space-small $space-small*2;
    @include font-size(18);
  }

  label, p {
    font-size: 0.875rem;
    color: #4d4d4d;

    span.wpcf7-form-control-wrap {
      display: block;
      margin-top: $space-small/2;
    }
  }

  //error messages and notifications
  span.wpcf7-not-valid-tip {
    position: relative;
    padding: $space-small/2;
    color: $alert-color;
    border: 2px solid $alert-color;
    &:before {
      @include arrow(8px, up, -8px, 10px, $alert-color);
    }
  }

  div.wpcf7-validation-errors {
    @extend .alert-box.alert;
    margin: 0 0 1.25rem;
    padding: $space-small;
  }

  div.wpcf7-mail-sent-ok {
    @extend .alert-box.success;
    margin: 0 0 1.25rem;
    padding: $space-small;
    color: $body-font-color;
  }
}
