header.site-header {

  $header-top-margin: 1rem;
  $header-bottom-margin: 1rem;

  margin-bottom: $header-bottom-margin;
  border-bottom: 1px solid $silver;

  h1 {
    margin-top: $header-top-margin;
    margin-bottom: $header-bottom-margin;
    font-size: 3rem;
    font-family: $font-family-sans-serif;
    font-weight: 700;

    a {
      color: $logo-color;
      &:hover, &:focus {
        color: scale-color($logo-color, $lightness: -14%);
      }
    }

  }

}