header.site-header {

  $header-top-margin: $space-small*2;
  $header-bottom-margin: $space-small*2;

  border-top: 10px solid $logo-color;
  border-bottom: 1px solid $white-smoke;
  background: $white;

  h1 {
    margin-top: $space-small/2;
    margin-bottom: $space-small;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    
    @media #{$medium-up} {
      margin-top: $header-top-margin;
      margin-bottom: $header-bottom-margin;      
    }

    a {
      @include font-size(50);
      color: $logo-color;
      &:hover, &:focus {
        color: scale-color($logo-color, $lightness: -14%);
      }
    }

  }

}