header.site-header {

  $header-top-margin: $space-small*2;
  $header-bottom-margin: $space-small*2;

  border-top: 10px solid $logo-color;
  border-bottom: 1px solid $white-smoke;
  background: $white;

  a.logo {
    margin-top: $header-top-margin;
    margin-bottom: $header-bottom-margin;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    @include font-size(50);
    line-height: 1;
    color: $logo-color;
    &:hover, &:focus {
      color: scale-color($logo-color, $lightness: -14%);
    }

    img {
      max-width: 100%;
      height: auto;
      @media #{$small-only} {
        max-width: 200px;
      }
    }

  }

}