.sidebar {
  .panel {
    @include panel-styles($secondary-color);
  }

  ul, ol {
    list-style: none;
    margin-left: 0;

    li {
      position: relative;
      margin: $space-small/2 0 0 $space-large;
      padding: 0;
      @include icon(before, next);

      &:before {
        position: absolute;
        top: 4px;
        left: -25px;
        display: inline-block;
        margin-right: $space-small;
        color: $secondary-color;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .widget {
    @include panel-styles($secondary-color);

    .post-date, .rss-date {
      display: block;
      @include font-size(14);
    }

    a.rsswidget img {
      display: none;
      visibility: hidden;
    }
  }

  #calendar_wrap {
    caption {
      margin-bottom: $space-medium;
      @include font-size(16);
      font-weight: normal;
      text-align: left;
    }

    table, a {
      @include font-size(14);
    }

    table {
      width: 100%;
      margin-bottom: 0;
      border-color: $lightest;
    }
  }
}