// WP Images
img, .wp-caption {

  &.alignleft, &.alignright, &.aligncenter, &.alignnone {
    @include thumb;
    @include single-transition(all,$thumb-transition-speed,ease-out);
    margin-bottom: $space-small;
  }

  &.alignleft {
    float: left;
    margin-right: $space-small*2;
  }

  &.alignright {
    float: right;
    margin-left: $space-small*2;
  }

  &.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .wp-caption-text {
    margin-bottom: 0;
    background: darken($lightest, 7%);
    padding-top: $space-small;
    text-align: center;
    @include font-size(16);
    @include single-transition(all,$thumb-transition-speed,ease-out);
  }

  &:hover, &:focus {
    .wp-caption-text {
      background: darken($lightest, 13%);
    }
  }
}

.wp-caption {
  &.alignleft, &.alignright, &.aligncenter, &.alignnone {
    margin-bottom: $space-small*2;
  }
}

// WP Gallery styles
// Using !important here because WP styles ID and not class

.gallery {
  margin-bottom: $space-small*2 !important; //overwriting WP 
  border-bottom: 3px solid darken($lightest, 13%);
  background: darken($lightest, 7%);

  .gallery-item {
    margin-top: 0 !important; //overwriting WP styles
    margin-bottom: $space-small;
    
    &:first-child {
      margin-left: 0;
    }
  }

  .gallery-icon {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    border: 5px solid darken($lightest, 7%) !important; //overwriting WP styles
    @include single-transition(all,$thumb-transition-speed,ease-out);
    
    &:hover, &:focus {
      border-color: darken($lightest, 13%) !important;
    }
  }

  .gallery-caption {
    margin-bottom: 0;
    padding: $space-small/2 $space-small;
    @include font-size(16);
  }
}
